@charset "utf-8";

body{
    font-size:16px;
    font-family: "微软雅黑";
}
h1,h2,h3,h4,h5,h6{
    font-size:16px;
    font-weight: normal;
}
ul,ol,li{
    list-style:none;
}
em,i{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
a,u{
    text-decoration: none;
}
img{
    border:none;
    display: block;
}
input{
    outline: none;
}
/* 公共样式 */
.border_none{
    border:none!important;
}
.float_left{
    float:left;
}
.float_right{
    float:right;
}
.bg_none{
    background:none!important;/*清除背景*/
}
.clear_fixed::after{
    content:"";
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}